// AbsoluteValue.vm
push argument 0
push constant 0
lt
pop temp 0
push argument 0
push temp 0
or
push argument 0
push temp 0
and
not
and
pop temp 1
push temp 1
push temp 0
sub
pop argument 2
push argument 2