// Sys.vm

function Sys.min 0
    push argument 0
    push argument 1
    lt
    if-goto MIN_TRUE
    push argument 1
    goto MIN_END
label MIN_TRUE
    push argument 0
label MIN_END
    return

    push argument 0
    push argument 1
    gt
    if-goto MAX_TRUE
    push argument 1
    goto MAX_END
label MAX_TRUE
    push argument 0
label MAX_END
    return

function Sys.range 2
    push argument 0
    pop pointer 0

    push this 0
    pop local 0   
    push this 0
    pop local 1   

    push argument 1
    push constant 1
    sub
    pop argument 1

label LOOP
    push argument 1
    push constant 0
    eq
    if-goto END_LOOP

    push pointer 0
    push constant 1
    add
    pop pointer 0

    push this 0
    pop temp 0

    push local 0
    push temp 0
    call Sys.min 2
    pop local 0

    push local 1
    push temp 0
    call Sys.max 2
    pop local 1

    push argument 1
    push constant 1
    sub
    pop argument 1

    goto LOOP
label END_LOOP
    push local 1
    push local 0
    sub
    return

function Sys.init 0
    call Sys.range 2
label WHILE
    goto WHILE
