label Sys.min
push argument 0
push argument 1
lt
if-goto Sys.min.true
push argument 1
goto Sys.min.end
label Sys.min.true
push argument 0
label Sys.min.end

label Sys.max
push argument 0
push argument 1
gt
if-goto Sys.max.true
push argument 1
goto Sys.max.end
label Sys.max.true
push argument 0
label Sys.max.end

label Sys.range
push argument 1
push constant 0
eq
if-goto Sys.range.empty
push argument 0
pop pointer 1
push that 0
pop local 0
push that 0
pop local 1
push constant 1
pop local 2
label Sys.range.loop
push local 2
push argument 1
eq
if-goto Sys.range.done
push argument 0
push local 2
add
pop pointer 1
push that 0
pop temp 0
push temp 0
push local 0
lt
if-goto Sys.range.updatemin
goto Sys.range.skipmin
label Sys.range.updatemin
push temp 0
pop local 0
label Sys.range.skipmin
push temp 0
push local 1
gt
if-goto Sys.range.updatemax
goto Sys.range.skipmax
label Sys.range.updatemax
push temp 0
pop local 1
label Sys.range.skipmax
push local 2
push constant 1
add
pop local 2
goto Sys.range.loop
label Sys.range.done
push local 1
push local 0
sub
goto Sys.range.end
label Sys.range.empty
push constant 0
label Sys.range.end
