function Xor 3
push argument 0
pop local 0
push argument 1
pop local 1

push local 0
push local 1
or

push local 0
push local 1
and
not

and
pop local 2

push local 2
pop argument 2

push local 2
return